<div class="body bag">
  <div class="bonde">
  
      <div class="div4">
        <a routerLink="/index"><img class="Ajoutuser" src="assets/images/retour copie.png" ></a>  
        <p class="p2">Retour Au Liste Des Patients</p>
      </div>
  
      <div class="div9">
        <p class="p2"> <b>Analyse détaillée des maladies Cardiovasculaires des Patients </b></p>
      </div>
 
    <div class="div11">
       <img class="Ajoutuser" src="assets\images\2536@4x.png" > 
    </div>

  </div>


<!-- <p class="Kanit">
  Analyse détaillée des maladies Cardiovasculaires
</p> -->

    <p class="p1"> <b> Cette page offre un accès direct à notre tableau de bord interactif, où vous pourrez explorer visuellement les données clés liées à l'hypertension, au taux de cholestérol et aux niveaux de sucre dans le sang ,Consultez le pour plus des détails </b> </p> <br> 
    
    <iframe title="Report Section" width="850" height="541.25"  src="https://app.powerbi.com/view?r=eyJrIjoiOTFiMTRmNDUtNjQxMS00NjBlLTg4ZGQtMTQyYmUxOGQ0YzZhIiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>


    <!-- <iframe title="Report Section" style="background-color: white;" width="70%" height="150000px" src="https://app.powerbi.com/view?r=eyJrIjoiZGJmYjAyOTctZTMwNi00MzliLTg2ZDAtMjU2NjQ0OTExMTk2IiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9" frameborder="1px" allowFullScreen="true" class="p01"></iframe> -->

    <p> <b>Votre santé est entre vos mains, et ces informations ne sont pas simplement des données, mais des invitations à prendre des décisions qui peuvent transformer votre mode de vie. <br> Explorez les tendances, découvrez les liens subtils entre les différents aspects de votre santé, et surtout, utilisez ces connaissances pour prendre des décisions informées qui vous guideront vers une vie plus saine et plus énergique. </b> </p>  

    <!-- <div id="cadre">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-paper-heart" viewBox="0 0 16 16" id="env">
            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v1.133l.941.502A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765L2 3.133zm0 2.267-.47.25A1 1 0 0 0 1 5.4v.817l1 .6zm1 3.15 3.75 2.25L8 8.917l1.25.75L13 7.417V2a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1zm11-.6 1-.6V5.4a1 1 0 0 0-.53-.882L14 4.267zM8 2.982C9.664 1.309 13.825 4.236 8 8 2.175 4.236 6.336 1.31 8 2.982m7 4.401-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734Z"/>
          </svg>        
   </div> -->

   <p class="p02"> <b> Ensemble, embrassons la santé, la vitalité et une vie pleine de moments gratifiants. </b></p>

  </div>